.box{
    text-align: center;
    background-color: aquamarine;
    font-style: oblique;
}
.container{
    background-color: blue;
}
.display{
    background-color: blue;
}
.one{
    background-color: blue;
}
.two{
    background-color: blue;
}