.box{
    background-color: indianred;
    text-align: center;
    font-style: oblique;

}
.one{
    background-color: moccasin;
    text-align: center;
    font-style: oblique;
    border: none;
    border-radius: 8px;
}
.two{
     background-color: moccasin;
    text-align: center;
    font-style: oblique;
    border: none;
    border-radius: 8px;
}